---
import SavingsCalculator from "./SavingsCalculator.astro";
---

<section class="py-12 h-screen">
    <h1 class="text-primary font-bold text-4xl text-center">Descubre cuánto puedes <span class="uppercase text-secondary">ahorrar</span> <br> con <span class="text-secondary">energía</span> solar</h1>
    <p class="text-center font-bold text-xl pt-4">Simula tu escenario energético en menos de <strong class="uppercase">30 segundos</strong></p>
    <div class="py-8">
        <SavingsCalculator />
    </div>
</section>